<div class="mbook">
  <h2>My bookings</h2>

  <%= simple_form_for :bookings, url: "/bookings/bulk_destroy", method: :delete do |f| %>
  <ul>
    <% @bookings.each do |booking| %>
      <li><input type="checkbox" name="collection_ids[]" value="<%= booking.id %>"/> <p>You booked the <strong><%= booking.bag.brand %></strong> bag from the <strong><%= booking.start_date %></strong> to the <strong><%= booking.end_date %></strong><p></li>
    <% end %>
  </ul>
  <%= f.submit "Cancel my booking(s)" %>

  <div class="total">
    <strong><p> Your total is: €€€<p></strong>
  </div>
<% end %>
