<div class="container" >
  <div class="top-container">
    <p class="rounded-btn">Search...</p>
  </div>
  <div class="main-container">
    <div class="row" >
      <% @bags.each do |bag| %>
        <div class="card col-6">
          <%= link_to bag_path(bag) do %>
            <%= image_tag "bag.jpg", class: "img-bag" %>
          <% end %>
          <div class="content">
              <h3><%= bag.brand %></h3>
              <h4><%= bag.category %></h4>
              <h5><%= bag.color %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<%# logo
image user
search barre
critères search
 button
 button
 button
 button
 image
  name
    description
    price x4
%>
