<div class="container" >
  <div class="top-container">

<%= form_with url: bags_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a bag"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

  </div>
  <div class="main-container">
    <div class="row d-flex justify-content-between" >
      <% @bags.each do |bag| %>
        <div class="card col-6 col-lg-3 border border-white">
          <%= link_to bag_path(bag) do %>
           <%= cl_image_tag @bag.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="content">
              <p class="h3"><%= bag.brand.capitalize %></p>
              <p class="h4"><%= bag.category.capitalize %></p>
              <p class="h3"><%= bag.color.capitalize %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


