<h1 id="new_bag">Add a new bag</h1>
<%= simple_form_for @bag do |f| %>
  <%= f.input :brand,
              placeholder:"Brand",
              label: false %>
  <%= f.input :category,
              :as => :select,
              :collection => ['Backpack','Purse', 'Duffle Bag', 'Wallet','Chain Bag', 'Briefcase', 'Saddle Bag', 'Suitcase', 'Bucket Bag', 'Tote Bag'],
              label: false,
              prompt: "Category" %>
  <%= f.input :color,
              placeholder:"Price",
              label: false %>
  <%= f.input :photo,
              as: :file,
              label: false %>
  <%= f.submit "Submit", id: "test2" %>
<% end %>
