<div class="img">
<%= image_tag "logo.jpg" %>
</div>

<div class="title">
<h2>Welcome to Bags'n'Stuff</h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
  <div class="form-inputs">
    <div class="boxes">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  label: false,
                  placeholder:"E-mail address",
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  label: false,
                  placeholder:"Password",
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
  </div>

  <div id="bouton" class="form-actions" class="col-12 mb-3">
    <%=f.button :submit, "Sign in" %>
  </div>
<% end %>

<div class="link">
<%= render "devise/shared/links" %>
</div>
